:root {
    --light: rgb(206, 186, 122);
    --dark: rgb(56, 56, 56);
    font-family: monospace, serif;
}

body {
    background-color: aliceblue;
}

.container {
    margin: 100px auto 0 auto;
    max-width: 600px;
}

.start {
    text-align: center;
}

.scores {
    position: absolute;
    top: 15px;
    left: 15px;
}

#result {
    font-style: oblique;
    font-size: 120%;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    color: var(--dark);
}
  
#timer {
    position: absolute;
    top: 15px;
    right: 15px;
}

ol {
    margin: 0px;
    padding: 0px;
    overflow: auto;
}
  
li {
    padding: 5px;
    list-style: decimal inside none;
}
  
li:nth-child(even) {
    background-color: var(--dark);
    color: var(--light)
}

a {
    color: var(--dark);
    text-decoration: none;
}

a:hover {
    color: var(--light);
}

#hideBtn {
    text-align: center;
}

button {
    display: inline-block;
    margin: 12px;
    cursor: pointer;
    background-color: var(--light);
    padding: 4px 15px;
    color: var(--dark);
    border: 0;
}

button:hover {
    background-color: var(--dark);
    color: var(--light)
}
  
